In [42]:
import sys
import os
from pathlib import Path
#
path_root = Path(os.path.abspath(''))
sys.path.insert(1, os.path.join(path_root))
#
path_root2 = Path(os.path.abspath('')).parent
sys.path.insert(1, os.path.join(path_root2))
import talib
import sqlite3 as sqlite3
import datetime
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import mplfinance as mpf
import matplotlib.font_manager as fm
from mplfinance.original_flavor import candlestick_ohlc
from util.util import get_ucodes

In [43]:
path_sqlite = os.path.join(path_root, 'data', 'aastock', 'sqlite', 'hk-marketwatch.db')
if not os.path.exists(path_sqlite):
    path_sqlite = os.path.join(path_root2, 'data', 'aastock', 'sqlite', 'hk-marketwatch.db')
print(path_sqlite)
conn = sqlite3.connect(path_sqlite)
cursor = conn.cursor()
conn.row_factory = lambda cursor, row: row[0]
no_days = 60

D:\PycharmProjects\scrapy-001\data\aastock\sqlite\hk-marketwatch.db

In [44]:
data1 = {}
ucodes = ['hsi', 'hsce', 'hstech', 'ssec', 'csi300', 'sp500', 'dji', 'ixic']
for ucode in ucodes:
    sql = """SELECT t.code, t.lot, t.nmll, t.stime, t.high, t.low, t.open, t.close, t.volume
                FROM (SELECT n.code, n.lot, n.nmll, c.stime, c.high, c.low, c.open, c.close, c.volume 
                    FROM s_{} AS c INNER JOIN name AS n 
                        ON c.code=n.code ORDER BY c.stime DESC LIMIT 365*20) AS t 
                            ORDER BY t.stime """.format(ucode)
    cursor.execute(sql)
    columns = ['code', 'lot', 'nmll', 'sdate', 'high', 'low', 'open', 'last', 'vol']
    data1[ucode] = pd.DataFrame(cursor.fetchall(), columns=columns)
conn.close()

In [41]:
data1

{'hsi':       code   lot  nmll       sdate      high       low      open      last  \
 0     .HSI  None  恒生指數  2000-01-03  17426.16  17057.70  17057.70  17369.63
 1     .HSI  None  恒生指數  2000-01-04  17303.00  16933.52  17303.00  17072.82
 2     .HSI  None  恒生指數  2000-01-05  16608.55  15688.49  16608.55  15846.72
 3     .HSI  None  恒生指數  2000-01-06  15971.03  14763.97  15942.07  15153.23
 4     .HSI  None  恒生指數  2000-01-07  15513.89  15108.75  15329.34  15405.63
 ...    ...   ...   ...         ...       ...       ...       ...       ...
 5229  .HSI  None  恒生指數  2021-03-17  29180.01  28780.23  28992.24  29034.12
 5230  .HSI  None  恒生指數  2021-03-18  29596.58  29317.61  29317.61  29405.72
 5231  .HSI  None  恒生指數  2021-03-19  29271.40  28737.54  29158.48  28990.94
 5232  .HSI  None  恒生指數  2021-03-22  29139.07  28801.09  28801.09  28885.34
 5233  .HSI  None  恒生指數  2021-03-23  29043.18  28376.22  29008.02  28497.38

                vol
 0              NaN
 1              NaN
 2              NaN
 3              NaN
 4              NaN
 ...            ...
 5229  1.901329e+09
 5230  2.113745e+09
 5231  3.814441e+09
 5232  2.065831e+09
 5233  2.049560e+09

 [5234 rows x 9 columns],
 'hsce':        code   lot    nmll       sdate      high       low      open      last  \
 0     .HSCE  None  恒生國企指數  2000-01-03   2014.33   1976.90   1976.90   2000.00
 1     .HSCE  None  恒生國企指數  2000-01-04   2114.51   1996.83   1998.78   2082.94
 2     .HSCE  None  恒生國企指數  2000-01-05   2069.13   1909.50   2069.13   1956.58
 3     .HSCE  None  恒生國企指數  2000-01-06   1974.68   1857.57   1959.09   1904.21
 4     .HSCE  None  恒生國企指數  2000-01-07   2023.36   1905.68   1905.68   2004.52
 ...     ...   ...     ...         ...       ...       ...       ...       ...
 5229  .HSCE  None  恒生國企指數  2021-03-17  11433.53  11243.75  11332.63  11358.66
 5230  .HSCE  None  恒生國企指數  2021-03-18  11576.92  11440.96  11475.98  11470.43
 5231  .HSCE  None  恒生國企指數  2021-03-19  11389.27  11171.19  11336.91  11283.92
 5232  .HSCE  None  恒生國企指數  2021-03-22  11413.39  11245.91  11245.91  11306.71
 5233  .HSCE  None  恒生國企指數  2021-03-23  11378.00  11047.50  11362.35  11111.18

                vol
 0              NaN
 1              NaN
 2              NaN
 3              NaN
 4              NaN
 ...            ...
 5229  2.102431e+09
 5230  2.356017e+09
 5231  3.760972e+09
 5232  2.988588e+09
 5233  2.145679e+09

 [5234 rows x 9 columns],
 'hstech':         code   lot    nmll       sdate     high      low     open     last  \
 0    .HSTECH  None  恒生科技指數  2020-07-27  7014.84  6677.16  6918.05  6774.78
 1    .HSTECH  None  恒生科技指數  2020-07-28  7012.62  6902.57  6930.58  7012.62
 2    .HSTECH  None  恒生科技指數  2020-07-29  7099.94  6951.10  6971.98  7085.15
 3    .HSTECH  None  恒生科技指數  2020-07-30  7244.19  7083.79  7160.24  7100.21
 4    .HSTECH  None  恒生科技指數  2020-07-31  7285.56  7108.15  7193.55  7155.03
 ..       ...   ...     ...         ...      ...      ...      ...      ...
 158  .HSTECH  None  恒生科技指數  2021-03-17  8643.75  8402.95      NaN  8574.04
 159  .HSTECH  None  恒生科技指數  2021-03-18  8819.38  8643.42      NaN  8676.33
 160  .HSTECH  None  恒生科技指數  2021-03-19  8597.79  8387.79      NaN  8551.32
 161  .HSTECH  None  恒生科技指數  2021-03-22  8646.10  8441.96      NaN  8508.85
 162  .HSTECH  None  恒生科技指數  2021-03-23  8584.66  8223.00      NaN  8295.42

       vol
 0    None
 1    None
 2    None
 3    None
 4    None
 ..    ...
 158  None
 159  None
 160  None
 161  None
 162  None

 [163 rows x 9 columns],
 'ssec':        code   lot    nmll       sdate      high       low      open  \
 0     .SSEC  None  上証綜合指數  2000-01-04  1407.518  1361.214  1368.693
 1     .SSEC  None  上証綜合指數  2000-01-05  1433.780  1398.323  1407.829
 2     .SSEC  None  上証綜合指數  2000-01-06  1463.955  1400.253  1406.036
 3     .SSEC  None  上証綜合指數  2000-01-07  1522.825  1477.154  1477.154
 4     .SSEC  None  上証綜合指數  2000-01-10  1546.723  1506.404  1531.712
 ...     ...   ...     ...         ...       ...       ...       ...
 5140  .SSEC  None  上証綜合指數  2021-03-19  3439.520  3389.290  3423.870
 5141  .SSEC  None  上証綜合指數  2021-03-20  3439.520  3389.290  3423.870
 5142  .SSEC  None  上証綜合指數  2021-03-21  3439.520  3389.290  3423.870
 5143  .SSEC  None  上証綜合指數  2021-03-22  3443.660  3404.230  3406.120
 5144  .SSEC  None  上証綜合指數  2021-03-23  3445.420  3390.050  3445.340

            last           vol
 0     1406.3710  4.370933e+08
 1     1409.6820  6.880885e+08
 2     1463.9420  8.090454e+08
 3     1516.6040  1.599787e+09
 4     1545.1120  1.505399e+09
 ...         ...           ...
 5140  3404.6600  3.092000e+05
 5141  3404.6633  3.091620e+05
 5142  3404.6633  3.091620e+05
 5143  3443.4400  3.126000e+05
 5144  3411.5100  2.574170e+09

 [5145 rows x 9 columns],
 'csi300':          code   lot     nmll       sdate     high      low     open      last  \
 0     .CSI300  None  滬深300指數  2004-12-31      NaN      NaN      NaN  1000.000
 1     .CSI300  None  滬深300指數  2005-01-04   994.77   980.66   994.77   982.794
 2     .CSI300  None  滬深300指數  2005-01-05   997.32   979.88   981.58   992.564
 3     .CSI300  None  滬深300指數  2005-01-06   993.79   980.33   993.33   983.174
 4     .CSI300  None  滬深300指數  2005-01-07   995.71   979.81   983.05   983.958
 ...       ...   ...      ...         ...      ...      ...      ...       ...
 3942  .CSI300  None  滬深300指數  2021-03-19  5089.92  4980.76  5068.53  5007.090
 3943  .CSI300  None  滬深300指數  2021-03-20  5089.92  4980.76  5068.53  5007.091
 3944  .CSI300  None  滬深300指數  2021-03-21  5089.92  4980.76  5068.53  5007.091
 3945  .CSI300  None  滬深300指數  2021-03-22  5071.34  4996.54  5008.40  5057.150
 3946  .CSI300  None  滬深300指數  2021-03-23  5064.02  4966.53  5057.06  5009.250

                vol
 0     7.031000e+03
 1     7.413000e+03
 2     7.119000e+03
 3     6.288000e+03
 4     7.299000e+03
 ...            ...
 3942  3.532583e+09
 3943  1.641750e+05
 3944  1.641750e+05
 3945  3.855361e+09
 3946  2.916495e+09

 [3947 rows x 9 columns],
 'sp500':         code   lot   nmll       sdate       high        low       open  \
 0     .SP500  None  標普500  2012-10-01  1444.4873  1444.4873  1444.4873
 1     .SP500  None  標普500  2012-10-02  1445.7543  1445.7543  1445.7543
 2     .SP500  None  標普500  2012-10-03  1450.9948  1450.9948  1450.9948
 3     .SP500  None  標普500  2012-10-04  1461.3978  1461.3978  1461.3978
 4     .SP500  None  標普500  2012-10-05  1460.9266  1460.9266  1460.9266
 ...      ...   ...    ...         ...        ...        ...        ...
 2127  .SP500  None  標普500  2021-03-17  3983.8700  3935.7400  3949.5700
 2128  .SP500  None  標普500  2021-03-18  3969.6200  3910.8600  3953.5000
 2129  .SP500  None  標普500  2021-03-19  3930.1200  3886.7500  3913.1400
 2130  .SP500  None  標普500  2021-03-22  3955.3100  3914.1600  3916.4800
 2131  .SP500  None  標普500  2021-03-23  3949.1300  3901.5700  3937.6000

            last           vol
 0     1444.4873           NaN
 1     1445.7543           NaN
 2     1450.9948           NaN
 3     1461.3978           NaN
 4     1460.9266           NaN
 ...         ...           ...
 2127  3974.1200  4.541620e+09
 2128  3915.4600  4.043170e+09
 2129  3913.1000  7.725050e+09
 2130  3940.5900  4.311380e+09
 2131  3910.5200  2.496097e+09

 [2132 rows x 9 columns],
 'dji':       code   lot     nmll       sdate      high       low      open      last  \
 0     .DJI  None  道瓊斯工業指數  2000-01-03  11522.01  11305.69  11501.85  11357.51
 1     .DJI  None  道瓊斯工業指數  2000-01-04  11350.06  10986.45  11349.75  10997.94
 2     .DJI  None  道瓊斯工業指數  2000-01-05  11215.10  10938.67  10989.37  11122.66
 3     .DJI  None  道瓊斯工業指數  2000-01-06  11313.45  11098.45  11113.37  11253.27
 4     .DJI  None  道瓊斯工業指數  2000-01-07  11528.14  11239.92  11247.06  11522.56
 ...    ...   ...      ...         ...       ...       ...       ...       ...
 5337  .DJI  None  道瓊斯工業指數  2021-03-20  32858.36  32505.07  32858.36  32627.97
 5338  .DJI  None  道瓊斯工業指數  2021-03-21  32858.36  32505.07  32858.36  32627.97
 5339  .DJI  None  道瓊斯工業指數  2021-03-22  32810.35  32512.53  32601.82  32731.20
 5340  .DJI  None  道瓊斯工業指數  2021-03-23  32753.77  32356.28  32691.50  32423.15
 5341  .DJI  None  道瓊斯工業指數  2021-03-24  32753.77  32356.28  32691.50  32423.15

               vol
 0     169750900.0
 1     178416500.0
 2     203188400.0
 3     176549600.0
 4     184903100.0
 ...           ...
 5337  847020953.0
 5338  847020953.0
 5339    3835000.0
 5340  388128938.0
 5341  388128938.0

 [5342 rows x 9 columns],
 'ixic':        code   lot  nmll       sdate       high        low       open  \
 0     .IXIC  None  None  2008-07-17   2320.770   2274.270   2296.570
 1     .IXIC  None  None  2008-07-18   2293.180   2269.550   2286.920
 2     .IXIC  None  None  2008-07-21   2300.320   2270.280   2290.750
 3     .IXIC  None  None  2008-07-22   2303.960   2252.840   2256.320
 4     .IXIC  None  None  2008-07-23   2350.090   2300.200   2305.110
 ...     ...   ...   ...         ...        ...        ...        ...
 3165  .IXIC  None  None  2021-02-11  14058.913  13916.845  14045.214
 3166  .IXIC  None  None  2021-02-12  14102.042  13937.714  13979.213
 3167  .IXIC  None  None  2021-03-19  33227.780  32831.250  32928.160
 3168  .IXIC  None  None  2021-03-23  13455.640  13278.780  13278.780
 3169  .IXIC  None  None  2021-03-24  13405.150  13202.430  13381.430

            last           vol
 0      2312.300  1.068914e+09
 1      2282.780  9.731008e+08
 2      2279.530  7.334420e+08
 3      2303.960  1.002428e+09
 4      2325.880  1.072275e+09
 ...         ...           ...
 3165  14025.774  1.977344e+09
 3166  14095.474  1.321169e+09
 3167  13116.168  4.210219e+08
 3168  13377.542  1.113640e+09
 3169  13227.697  1.196694e+09

 [3170 rows x 9 columns]}